* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

html,body{
    background-image: url(imgs/leticia/Fundo.png);
    background-size: contain;
    background-repeat: repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
  animation: moverDiagonal 10s linear infinite;
}

@keyframes moverDiagonal {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 250px 250px;
  }
}

/*
h1{
    align-items: top;
    margin-top: 50px;
    text-align: center;
} 
*/

section#dados {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    text-align: center;
    justify-content: center; /* centraliza horizontal */
    align-items: center;     /* centraliza vertical */
    background-image: url(imgs/leticia/foto5.jpeg);
    background-position: center;
    width: 90%;
    max-width: 400px;
    height: 600px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.45);
    transform: translate(-50%,-50%);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#dados p {
    font-size: 2.2rem;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke: .055rem purple; /* espessura + cor da borda */
}

section#leticia { 
    background-color: aqua;
    display: flex;
    justify-content: center; /* centraliza horizontalmente */
    align-items: center;     /* centraliza verticalmente (opcional) */
}


.galeria {
    display: flex;
}
.galeria a img {
    width: 100%;
    height: 10vh;
    display: block;
}